<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/main.css">
    <meta charset="UTF-8">
    <title>Title</title>
    

</head>
<body>

<div id="wrapper">
     <div id="menu">

         <ul>
             <li class="top-menu"><a href="#">Home</a></li>
             <li  class="top-menu"><a href="#">Solution</a></li>
             <li  class="top-menu"><a href="#">Demo</a></li>
             <li class="top-menu"><a href="#">Login</a></li>
             <li  class="top-menu"><a href="#">About Us</a></li>
         </ul>


 </div>

 <div id="header">

</div>
<div class="container main">
 <div class="flex-container-right">
     <div id="div1"><img id="g-analytic" src="../static/images/analytics.png" alt="analtic picture"></div>
      <div id="div2" >
      <h3>Google Analytic Analyzer</h3>
          <p>Use our G-Analytic service to analyze your website. Analyze the recent  number of visitors, hits and the most popular pages in your website. Use
          the G-Predictor to see the magic.
              <a href="#">More Details</a></p>
      </div>


 </div>

    <div class="flex-container-left">
     <div id="div3">
         <h3>Social Network Analyzer</h3>
          <p>Use our SN-Analytic service to analyze your social network personalor business page. Analyze the recent  number of likes , Hashtags and sharings. Grow your bisness by predicting
              your page popularity.
              <a href="#">More Details</a></p>
     </div>
      <div id="div4" ><img id="sn-analytic" src="../static/images/facebook-analytics.png" alt="facebook analtic picture"></div>


 </div>
<div id="single-container" class="single-container">
   <div>
        <h3>Try it free!</h3>
    Our service is free to try!. Yap! Freeeee!
    Hold on. By free we mean for a limited time to see if it fits your business.
        <div>
         <button id="signup-button" type="button" class="btn-primary">Sign Up</button>
     </div>
   </div>


</div>

</div>
    <div class="footer" id="footer">
        <div class="row" >
            <div id="l-column" class="col-sm-4">
                <ul class="pagegroup">
                    <li>Company</li>
                    <li>Products</li>
                    <li>Prices</li>
                    <li>FAQ</li>
                </ul>


            </div>
            <div id="m-column" class="col-sm-4">
                <ul class="pagegroup">
                    <li>Request a demo</li>
                    <li>Career</li>
                    <li>Why Us?</li>
                    <li>Contact</li>

                </ul>
            </div>
            <div id="r-column" class="col-sm-4">
                <ul class="pagegroup">
                    <li>Google Analytic Analyzor</li>
                    <li>Social Network Analyzor</li>
                    <li>Business Monitor</li>

                </ul>
            </div>
        </div>

    </div>
</div>

</body>
</html>